<h1>Edit Principal</h1>

<% form_for(:principal, :url => client_subject_principal_path(@client, @subject, @principal), :html => { :method => :put }) do  |f| %>
<table>
	<tr>
		<td>
			<p><b>Value</b></br>     <%= f.text_field :value%>
		</td>
		<td>
			<b>Type</b>
			<%= f.select :principal_type_id, PrincipalType.find(:all).map{ |rt| [rt.name, rt.id] } %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p><%= submit_tag "Update"%></p>
		</td>
	</tr>
</table>
<% end %>

<%= link_to "show", client_subject_principal_path(@client, @subject, @principal)%>
<%= link_to "back", client_subject_path(@client, @subject)%>