<h1>Client Details</h1>
<p><b>Name:</b><%=h @client.name%></p>


<%= link_to 'edit', edit_client_path(@client)%> |
<%= link_to 'back', clients_path%>


<%#scopes%>
<h1>Clients Scopes</h1>
<% unless @client.scopes.empty? %>
	<table>
	<%= render :partial => "/scopes/scope", :collection => @client.scopes %>
	</table>
<% end %>
<%= link_to "Add scope", new_client_scope_url(@client) %>



<%#roles%>
<h1>Clients Roles</h1>
<% unless @client.roles.empty? %>
	<table>
	<%= render :partial => "/roles/role", :collection => @client.roles %>
	</table>
<% end %>
<%= link_to "Add role", new_client_role_url(@client) %>



<%#subjects%>
<h1>Clients Subjects</h1>
<% unless @client.subjects.empty? %>
	<table>
	<%= render :partial => "/subjects/subject", :collection => @client.subject %>
	</table>
<% end %>
<%= link_to "Add subject", new_client_subject_url(@client) %>