<h1>Welcome to preallowed.com</h1>
<p>Preallowed.com is a Role-Based Access Control (RBAC) service.</p>
<p>
	The service provides effective management of relationships between your <i>Subjects</i>, <i>Roles</i> and <i>Resources</i>. For more information on how to set up and use the service see our <%=link_to "help", help_url%> page.
</p>
<p>
	Why service? We believe, a Software as a Service (SaaS) model is suited the best for providing centralized distributed RBAC. 
</p>
<p>
	Our goal is to provide powerful, yet simple and easy to use software. In order to achieve these somewhat conflicting requirements and to gain trust, we opensourced our code at <%=link_to "http://github.com/dmitryame/preallowed/tree/master", "http://github.com/dmitryame/preallowed/tree/master" %>. We hope to hear back from you with any constructive criticism and suggestions. 
</p>
<p>
	Our software is built in Ruby on Rails. Our guiding principals are outlined in <%= link_to "Getting real", "http://gettingreal.37signals.com/toc.php"%> book by <%=link_to "37signals", "http://www.37signals.com/"%>.
</p>
<p>
	<%=link_to 'Login', '/login' %> or <%= link_to "Register a Profile", new_profile_path %> to get started -- it's very easy, takes only few seconds and is absolutely free.
</p>

