<h1>Editing subject</h1>

<% form_for([@client, @subject]) do |f| %>
  <%= f.error_messages %>
 
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to image_tag("back.png", :border => 0, :width => 16, :height => 16), client_subjects_path(@client) %>
<%= link_to image_tag("show.png", :border => 0, :width => 16, :height => 16), client_subject_path(@client, @subject) %>
