<p>
  <b>Name:</b>
  <%=h @subject.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @subject.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @subject.password %>
</p>


<%= link_to 'Edit', edit_client_subject_path(@client, @subject) %> |
<%= link_to 'Back', client_subjects_path(@client) %>
