<h1>Subject Details</h1>
<p><b>Name:</b><%=h @subject.name%></p>


<%= link_to 'edit', edit_client_subject_path(@client, @subject)%> |
<%= link_to 'back', client_path(@client)%>


<%#principals%>
<h1>Subjects Principals</h1>
<% unless @subject.principals.empty? %>
	<table>
		<%= render :partial => "/principals/principal", :collection => @subject.principals %>
	</table>
<% end %>
<%= link_to "Add Principal", new_client_subject_principal_url(@client, @subject) %>


<%#resources%>
<%= render :partial => 'draggable_roles' %>
