<h1>Edit Resource</h1>

<% form_for(:resource, :url => client_scope_resource_path(@client, @scope, @resource), :html => { :method => :put }) do  |f| %>
<table>
	<tr>
		<td>
			<p><b>Name</b></br>     <%= f.text_field :name%>
		</td>
		<td>
			<b>Type</b>
			<%= f.select :resource_type_id, ResourceType.find(:all).map{ |rt| [rt.name, rt.id] } %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p><%= submit_tag "Update"%></p>
		</td>
	</tr>
</table>
<% end %>

<%= link_to "show", client_scope_resource_path(@client, @scope, @resource)%>
<%= link_to "back", client_scope_path(@client, @scope)%>