<h1>Editing resource</h1>

<% form_for(:resource, :url => client_resources_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', client_resource_path(@client, @resource) %> |
<%= link_to 'Back', client_resources_path(@client) %>
