<h1>Listing resources</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for resource in @resources %>
  <tr>
    <td><%= link_to(h(resource.name), client_resource_path(@client, resource)) %></td>
    <td><%= link_to image_tag("edit.png", :border => 0, :width => 16, :height => 16), edit_client_resource_path(@client, resource) %></td>
    <td><%= link_to image_tag("trash.png", :border => 0, :width => 16, :height => 16), client_resource_path(@client, resource), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag("back.png", :border => 0, :width => 16, :height => 16), client_path(@client) %>
<%= link_to image_tag("add.png", :border => 0, :width => 16, :height => 16), new_client_resource_path(@client) %>
