<h1>New resource</h1>

<% form_for([@client, @resource]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to image_tag("back.png", :border => 0, :width => 16, :height => 16), client_resources_path(@client) %>
