<h1>Editing role</h1>

<% form_for(:role, :url => client_roles_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', client_role_path(@client, @role) %> |
<%= link_to 'Back', client_roles_path(@client) %>
