<h1>Editing role</h1>

<% form_for([@client, @role]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to image_tag("back.png", :border => 0, :width => 16, :height => 16), client_roles_path(@client) %>
<%= link_to image_tag("show.png", :border => 0, :width => 16, :height => 16), client_role_path(@client, @role) %>
