<h1>New establishment</h1>

<% form_for(@establishment) do |f| %>
	<%= f.error_messages %>
	<% fields_for :managed_client do |c| %>
		<%= error_messages_for :managed_client %>				
		<p>
		<%= c.label "client name" %><br />
		<%= c.text_field :name %>
		</p>
	<% end %>
	<% fields_for :administrator do |s| %>
		<%= error_messages_for :administrator %>				
		<p>
		<%= s.label "user name" %><br />
		<%= s.text_field :name %>
		</p>
		<p>
		<%= s.label :email %><br />
		<%= s.text_field :email %>
		</p>
		<p>
		<%= s.label :password %><br />
		<%= s.password_field :password %>
		</p>
		<p>
		<%= s.label :password_confirmation %><br />
		<%= s.password_field :password_confirmation %>
		</p>
	<% end %>
	<p>
	<%= f.submit "Create" %>
	</p>
<% end %>
